html,body{
    margin: 0;
    padding: 0;
}

/* changes hamburger menu icon to three dots */
#toggler-icon-change {
    background-image: url(https://i.stack.imgur.com/qiyab.png)
}

.sidebar-button {
    width: 110px;
}

/* stops text in main content from wrapping when reaching edge of screen */
.list-group a {
    white-space: nowrap;
}

/* allows column to scroll without scrolling the page */
.scrollable {
    height: 93vh;
    overflow-y: scroll;
}

/* Displays sidebar over main content on small screen when toggled */
@media only screen and (max-width: 767px) {
    .sidebar-small {
        position: fixed;
        top: 68.5px;
        left: 0px;
        z-index: 10;
    }
}